{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"singleAttributePerLine": false,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@app/(.*)$",
		"^@components/(.*)$",
		"^@constants/(.*)$",
		"^@fonts/(.*)$",
		"^@services/(.*)$",
		"^@context/(.*)$",
		"^@styles/(.*)$",
		"^@theme/(.*)$",
		"^@types/(.*)$",
		"^@ui/(.*)$",
		"^../(.*)",
		"^./(.*)"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"printWidth": 150,
	"proseWrap": "always",
	"quoteProps": "as-needed",
	"editor.formatOnSave": true,
	"editor.defaultFormatter": "esbenp.prettier-vscode",
	"editor.tabSize": 2,
	"editor.insertSpaces": false
}
