.pageTable {
    padding: 0 40px;
}

.pageTable__selectedCount {
    padding-top: 20px;
}

.pageTable__btnContainer {
    padding-right: 14px;
}

.pageTable__btnContainer__btn {
    color: #D9D9D9;
}

.pageTable__btnContainer__btn svg {
    fill: rgba(0, 0, 0, 0.45);
}