.userInfo {
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	margin-right: 24px;
}

.userInfo__dropdowContainer {
	padding: 10px 2px;
}

.ant-dropdown-menu {
	padding: 10px;
}

.ant-dropdown-menu > li {
	margin: 10px 0;
}
